<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/bda3ab8878.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/css/todo.css">
        <title>Group Todos --Shoppers United</title>
    </head>

    <body>
        <header>
            <div class="header">
                <a href='/' class="home"> Shoppers United </a>
                <h5>
                    <%= user.userName %><a href='/user'><i class="user fa-solid fa-user"></i></a>
                </h5>
            </div>
            <h1>
                <%= group.name %>'s Lists
            </h1>
        </header>

        <section class='todo__Lists'>
            <div class="personal">
                <h2>Personal tasks</h2>
                <%= groupTodos %>
                    <form action=<%=`/groups/createTodo/${group._id}`%> method='POST'>
                        <input type=" text" placeholder="Enter Todo Item" name='todoItem'>
                        <input type="submit">
                    </form>
                    <ul>
                        <% groupTodos.forEach( el=> { %>
                            <li class='todoItem' data-id='<%=el._id%>'>
                                <span class='<%= el.completed === true ? ' completed' : 'not' %>'><%= el.todo %></span>
                                <span class='done'> Done </span>
                                <span class='<%= el.shared === true ? ' unshared' : 'share' %>'>Share</span>
                                <span class='del'> Delete </span>
                            </li>
                            <% }) %>
                    </ul>
            </div>
        </section>
        <div class="form">
            <h2>
                <%= user.userName %> has things left to do.
            </h2>

            <!-- <form action="/todos/createTodo" method='POST'>
            <input type="text" placeholder="Enter Todo Item" name='todoItem'>
            <input type="submit">
        </form>

        <p>Invite others to access your list with your key: <%= user._id %> 
        </p>
        <h1><a href=<%=`/todos/addUser/${group._id}` %> >add user to the group</a></h1>
        <form action="/todos/collab" method='POST'>
            <p>To collab on someone's list enter their key</p>
            <input type="text" placeholder="Enter Key to " name='collabKey'>
            <input type="submit">
        </form>
        <form action=<%=`/todos/createTodo/${group._id}`%> method='POST'>
            <input type=" text" placeholder="Enter Todo Item" name='todoItem'>
            <input type="submit">
        </form> -->


            <% groupTodos.forEach(el=> { %>
                <br>
                <li data-id='<%=el._id%>'>
                    <%= el.todo %>
                </li>
                <% }) %>


                    <a href="/logout">Logout</a>
                    <footer>
                        <div>
                            <a href=<%=`/group-settings/${group._id}`%><i class="fa-solid fa-gear"></i></a>
                        </div>
                    </footer>
                    <script src="/js/main.js"></script>
    </body>

</html>