<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/bda3ab8878.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/css/todo.css">
        <title>Group Todos --Shoppers United</title>
    </head>

    <body>
        <header>
            <div class="header">
                <a href='/' class="home"> Shoppers United </a>
                <h5>
                    <%= user.userName %><a href='/user'><i class="user fa-solid fa-user"></i></a>
                </h5>
            </div>
            <h1>
                <%= group.name %>'s Lists <span style="color:orangered">(<%= groupTodos.filter(t=>
                            t.completed===false).length %> left todo<%= groupTodos.filter(t=>
                                t.completed===false).length> 1
                                ? 's': '' %>)</span>
            </h1>
        </header>

        <section class='todo__Lists'>
            <div class="personal">

                <!-- group settings -->
                <div class="menu-container">
                    <% if (group.createdBy==user._id) { %>
                        <div class="dropdown" tabindex="1">
                            <i class="db2" tabindex="1"></i>
                            <a class="dropbtn"><i class="fa-solid fa-gear"></i> <i
                                    class="fa-solid fa-caret-down"></i></a>
                            <div class="dropdown-content">
                                <a href=<%=`/groups/addUser/${group._id}` %>>Add Member</a>
                                <a href=<%=`/groups/deleteUser/${group._id}` %>>Delete Member</a>
                                <!-- <a href="#" id="delete-todo">Delete Group</a> -->
                                <a href="#" class="delete-group" data-confirm="Are you sure to delete this item?"
                                    data-groupid=<%=group._id %>>Delete
                                    Group</a>
                            </div>
                        </div>
                        <% } %>

                </div>
                <!-- group settings -->

                <!-- <div style="text-align: right; padding: 0 20px 0 0;">
                    <a href=<%=`/group-settings/${group._id}`%><i class="fa-solid fa-gear"></i></a>
                </div> -->
                <!-- <h2>Personal tasks</h2> -->
                <form action=<%=`/groups/createTodo/${group._id}`%> method='POST'>
                    <input type=" text" placeholder="Enter Todo Item" name='todoItem'>
                    <input type="submit">
                </form>
                <ul>
                    <% groupTodos.forEach( el=> { %>
                        <li class='todoItem' data-id='<%=el._id%>'>
                            <span class='<%= el.completed === true ? ' completed' : 'not' %>'><%= el.todo %></span>
                            <span class='<%= el.completed === true ? ' repeat' : 'done' %>'><%= el.completed===true
                                    ? 'Repeat' : 'Done' %></span>
                            <!-- <span class='<%= el.shared === true ? ' unshared' : 'share' %>'>Share</span> -->
                            <span class='del-item'> Delete </span>
                            <span class='<%= el.completed === true ? ' done-by' : 'hidden' %>'><%= el.completed===true ?
                                    `Done by: ${el.doneBy}` : '' %></span>
                        </li>
                        <% }) %>
                </ul>

            </div>
        </section>


        <!-- <form action="/todos/createTodo" method='POST'>
            <input type="text" placeholder="Enter Todo Item" name='todoItem'>
            <input type="submit">
        </form>

        <p>Invite others to access your list with your key: <%= user._id %> 
        </p>
        <h1><a href=<%=`/todos/addUser/${group._id}` %> >add user to the group</a></h1>
        <form action="/todos/collab" method='POST'>
            <p>To collab on someone's list enter their key</p>
            <input type="text" placeholder="Enter Key to " name='collabKey'>
            <input type="submit">
        </form>
        <form action=<%=`/todos/createTodo/${group._id}`%> method='POST'>
            <input type=" text" placeholder="Enter Todo Item" name='todoItem'>
            <input type="submit">
        </form> -->


        <a href="/logout">Logout</a>
        <!-- <footer>
            <div>
                <a href=<%=`/group-settings/${group._id}`%><i class="fa-solid fa-gear"></i></a>
            </div>
        </footer> -->
        <script src="/js/main.js"></script>
    </body>

</html>