<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Groups</title>
        <link rel="stylesheet" href="css/style.css">
    </head>

    <body>
        <h1>Groups</h1>
        <!-- <h3>
            <%= user %>
        </h3> -->
        <a href="/todos/createGroup">Create group</a>
        <ul>
            <% if (groups.length===0) { %>
                <h3>No groups yet</h3>
                <a href="/todos/createGroup">Create group</a>
                <% } %>
                    <% groups.forEach( el=> { %>
                        <li class='' data-id='<%=el._id%>'>
                            <a href=<%=`/todos/${el._id}`%>>
                                <%= el.name %>
                            </a>

                            <ul>
                                <% for(let i=0; i < el.users.length; i++ ){ %>
                                    <br>
                                    <li>
                                        <%= el.users[i].userName %>
                                            <%= el.users[i].email %>
                                                <% } %>


                                    </li>
                            </ul>


                        </li>
                        <% }) %>
        </ul>




        <a href="/logout">Logout</a>

        <script src="js/main.js"></script>
    </body>

</html>